:root {
  --text: #161A1E;
  --background: #FFFFFF;
  --light-background: #EAEDF0;
  --light-text: #6C8093;
  --accent: #1B2BE2;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    color: var(--text);
    background: var(--background);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-bottom: 40px;
}

h1, h2, h3 {
    letter-spacing: -0.02em;
    font-weight: 500;
    line-height: 1.2;
}

header, section {
    border-bottom: 1px solid var(--light-background);
}

p {
    max-width: 48rem;
}

.overhead {
    color: var(--light-text);
    font-size: 0.9em;
}

.overhead span {
    display: inline-block;
    background-color: var(--light-background);
    padding: 2px 8px;
    color: var(--text);
    border-radius: 4px;
    margin-right: 16px;
}

.role {
    color: var(--light-text);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
}


figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 0.8em;
    color: var(--light-text);
    margin-top: 20px;
}


header, .detail, .contact {
    padding: 100px 20px;
    max-width: 64rem;
    margin: 0 auto;
}

.detail {
    font-size: 1rem;
}

.contact {
    padding: 60px 20px;
    font-size: 0.8em;
}

.contact ul {
    margin: 0 auto;
    max-width: 64rem;
    display: flex;
    justify-content: space-around;
}

.detail img:last-of-type {
    padding-bottom: 0;
}

@media screen and (min-width: 600px) {

    .detail {
        padding: 100px 20px 40px 20px;
    }

    .detail img {
      max-width: 100%;
      margin: 60px 0;
    }


    figcaption {
        margin-top: -40px;
        margin-bottom: 60px;
    }

}

@media screen and (min-width: 1000px) {

    body {
        font-size: 1.1rem;
    }

    header {
        padding: 120px 0;
    }

    footer {
        padding: 100px 0;
    }



}