html {
  font-size: 1.5em;
  line-height: 1.5;
}

@media all and (min-width: 768px) {
  html {
    font-size: 1.75em;
  }
}

@media all and (min-width: 1200px) {
  html {
    font-size: 2em;
  }
}

body {
  font-family: 'Source Serif Pro', Georgia, serif;
  background: #f6f6f8;
  color: #382a2a;
}

a {
	text-decoration:none;
	display: inline-block;
	color:tomato;
}

a:after {
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: transparent;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}

a:hover:after {
	width: 100%;
	background: tomato;
}

.wrapper {
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
}

p:first-of-type {
	position: relative;
	margin-top: 3em;
}

p:first-of-type:before {
	content: '';
	position: absolute;
	top: -1em;
	left: 0;
	width: 50px;
	height: 3px;
	background-color: #333;
}

ul {
	margin: 2em 0 0;
	padding: 0;
}

li {
	display: inline-block;
	margin-right: 5px;
	font-size: .7em;
}

li:last-of-type {
	margin-right: 0;
}


@media all and (min-width: 768px) {
	p:first-of-type {
		margin-top: 6em;
	}

	li {
		margin-right: 10px;
	}
}
