html {
	font-size: 1.2em;
	line-height: 1.5;
}

@media all and (min-width: 768px) {
  html {
    font-size: 1.4em;
  }
}

@media all and (min-width: 1200px) {
  html {
    font-size: 1.6em;
  }
}

body {
	background-color: white;
	color: #333;
	font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;

	-webkit-font-feature-settings: "liga" 1;
	-moz-font-feature-settings: "liga" 1;
	-moz-font-feature-settings: "liga=1";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga" 1;
	font-feature-settings: "liga" 1;

	margin-bottom: 2em;
}

a {
	color:#0030fe;
	display: inline-block;
	text-decoration: none;
}

a:after {
	background: transparent;
	content: '';
	display: block;
	height: 1px;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

	width: 0;
}

a:hover:after {
	background: #0030fe;
	width: 100%;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	width: 95%;
}

p:first-of-type {
	margin-top: 3em;
	position: relative;
}

p:first-of-type:before {
	background-color: #333;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	top: -1.5em;
	width: 50px;
}

ul {
	margin: 2em 0 0;
	padding: 0;
}

li {
	display: inline-block;
	font-size: .75em;
	margin-right: 5px;
}

li:last-of-type {
	margin-right: 0;
}

@media all and (min-width: 768px) {
	p:first-of-type {
		margin-top: 5em;
	}

	li {
		margin-right: 10px;
	}
}
